<html>
  <head>
    <title>FUT17 Client</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="custom.css" />

  </head>
  <body ng-app="fut17client" style="font-size: 1em;">
    <div class="container" ng-controller="homeController">
      <form>
        <fieldset>
          <label for="playerId">Player Id</label>
          <input type="text" ng-model="playerId" id="playerId"/>
          <label for="maxBuyNow">Max Buy Now</label>
          <input type="text" ng-model="maxBuyNow" id="maxBuyNow"/>
          <label for="maxBid">Max Bid</label>
          <input type="text" ng-model="maxBid" id="maxBid"/>
        </fieldset>
      </form>

      <blockquote ng-show="errorMessage">
        <p><em>Erro: {{errorMessage}}</em></p>
      </blockquote>

      <blockquote ng-show="successMessage">
        <p><em>Sucesso: {{successMessage}}</em></p>
      </blockquote>

      <h3>{{jogador}}</h3>

      <input type="checkbox" ng-model="comprar"> Comprar

      <h4>Saldo: {{saldo}}</h4>
      <div class="pull-right">
        <button type="button" class="btn btn-success" ng-hide="stop" ng-click="startSearch()">Start</button>
        <button type="button" class="btn btn-danger" ng-show="stop" ng-click="stopSearch()">Stop</button>
        <button type="button" class="btn btn-primary" ng-click="playAudio()">Test Sound
          <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></button>
      </div>

      <table class="table" style="font-size: 1.5em;">
        <thead>
          <tr>
            <th>
              tradeId
            </th>
            <th>
              Overall
            </th>
            <th>
              Buy Now
            </th>
            <th>
              Starting Bid
            </th>
            <th>
              Current Bid
            </th>
            <th>
              Expires
            </th>
            <th>
              Ação
            </th>
          </tr>
          <tr ng-repeat="item in httpResponse.auctionInfo">
            <td>
              {{item.tradeId}}
            </td>
            <td>
              {{item.itemData.rating}}
            </td>
            <td>
              {{item.buyNowPrice}}
            </td>
            <td>
              {{item.startingBid}}
            </td>
            <td>
              {{item.currentBid}}
            </td>
            <td>
              {{item.expires | secondsToDateTime | date: "HH:mm:ss"}}
            </td>
            <td>
              <a href="" ng-click="buy(item)">Comprar </a> |
              <a href="" ng-click="bid(item)"> Lance</a>
            </td>
          </tr>
        </thead>
      </table>

      <h3>Tradepile</h3>

      <table class="table" style="font-size: 1.5em;">
        <thead>
          <tr>
            <th>
              tradeId
            </th>
            <th>
              Overall
            </th>
            <th>
              Buy Now
            </th>
            <th>
              Starting Bid
            </th>
            <th>
              Bought For
            </th>
            <th>
              Profit
            </th>
            <th>
              Expires
            </th>
            <th>
              Estado de venda
            </th>
            <th>
              Ações
            </th>
          </tr>
          <tr ng-repeat="item in tradePile.auctionInfo">
            <td>
              {{item.tradeId}}
            </td>
            <td>
              {{item.itemData.rating}}
            </td>
            <td>
              {{item.buyNowPrice}}
            </td>
            <td>
              {{item.startingBid}}
            </td>
            <td>
              {{item.itemData.lastSalePrice}}
            </td>
            <td>
              {{item.buyNowPrice * 0.95 - item.itemData.lastSalePrice}}
            </td>
            <td>
              {{item.expires | secondsToDateTime | date: "HH:mm:ss"}}
            </td>
            <td>
              {{item.tradeState}}
            </td>
            <td>
              <a ng-click="removeSoldItem(item)" href="" ng-show="item.tradeState === 'closed'">Remover</a>
            </td>
          </tr>
        </thead>
      </table>

      <h3>Unassigned</h3>

      <table class="table" style="font-size: 1.5em;">
        <thead>
          <tr>
            <th>
              tradeId
            </th>
            <th>
              Overall
            </th>
            <th>
              Bought For
            </th>
            <th>
              Ações
            </th>
          </tr>
          <tr ng-repeat="item in purchasedItems.itemData">
            <td>
              {{item.id}}
            </td>
            <td>
              {{item.rating}}
            </td>
            <td>
              {{item.lastSalePrice}}
            </td>
            <td>
              <a href="" ng-click="list(item)"> Listar</a>
            </td>
          </tr>
        </thead>
      </table>

    </div>
  </body>
</html>
